.TranslationOutputBox {
  margin: 1rem;
  padding: 1.5rem;
  height: 30vh;
  width: 1000px;
  border: 5px solid #FF8C00;
  border-radius: 0.4rem;
}

@media(max-width: 1200px) {
  .TranslationOutputBox {
    width: 700px;
  }
}

@media(max-width: 990px) {
  .TranslationOutputBox {
    width: 600px;
  }
}

@media(max-width: 800px) {
  .TranslationOutputBox {
    width: 500px;
  }
}

@media(max-width: 750px) {
  .TranslationOutputBox {
    width: 450px;
  }
}

@media(max-width: 670px) {
  .TranslationOutputBox {
    width: 400px;
  }
}

@media(max-width: 550px) {
  .TranslationOutputBox {
    width: 350px;
  }
}

@media(max-width: 350px) {
  .TranslationOutputBox {
    width: 300px;
  }
}