.TranslationForm {
  margin: 2rem 1rem 1rem 1rem;
  background-color: #FF8C00;
}

.TranslationFormInput {
  width: 500px;
}

.TranslationButton {
  background-color: #171717;
  color: #FF8C00;
}

@media(max-width: 900px) {
  .TranslationFormInput {
    width: 400px;
  }
  .TranslationButton {
    width: 7.5rem;
    font-size: 1.3rem;
  }
}

@media(max-width: 750px) {
  .TranslationFormInput {
    width: 300px;
  }
  .TranslationButton {
    width: 7rem;
    font-size: 1.2rem;
  }
}

@media(max-width: 500px) {
  .TranslationFormInput {
    width: 200px;
  }
  .TranslationButton {
    width: 6rem;
    font-size: 1rem;
  }
}