.LoginView {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

@media(max-width: 990px) {
  .LoginView > h1 {
    font-size: 1.7rem;
  }
}

@media(max-width: 600px) {
  .LoginView > h1 {
    font-size: 1.5rem;
  }
}
