.Navbar {
  height: 15vh;
  background-color: #FFD580;
  color: #171717;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavbarLoggedIn {
  justify-content: space-around;
}

.NavbarLoggedOut {
  justify-content: center;
}

.NavbarTitle {
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
}

.NavbarLink {
  display: inline;
  margin: 1rem;
  font-size: 1.3rem;
  transition-duration: 0.4s;
}

.NavbarLink > a {
  color: #171717;
  text-decoration: none;
}

.NavbarLink > a:hover {
  color: #FF8C00;
}

.LogoutButton {
  font-size: 1rem;
}

@media(max-width: 1240px) {
  .NavbarTitle {
    font-size: 2rem;
  }
}

@media(max-width: 990px) {
  .NavbarTitle {
    font-size: 1.5rem;
  }
}

@media(max-width: 865px) {
  .NavbarTitle, .NavbarLink {
    margin: 0.5rem;
  }
}

@media(max-width: 785px) {
  .NavbarTitle {
    font-size: 1rem;
  }
}

@media(max-width: 650px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
}

