.LoginButton {
  width: 10rem;
  font-size: 1.2rem;
}

.LoginError {
  padding: 0.5rem;
  color: #171717;
  font-size: 1.2rem;
}

@media(max-width: 990px) {
  .LoginButton {
    width: 8rem;
    font-size: 1rem;
  }
  .LoginError {
    font-size: 1rem;
  }
  .LoginRequest {
    font-size: 1.5rem;
  }
}

@media(max-width: 600px) {
  .LoginButton {
    width: 6rem;
    font-size: 0.8rem;
  }
  .LoginError {
    font-size: 0.8rem;
  }
  .LoginRequest {
    font-size: 1.2rem;
  }
}