.Button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #FF8C00;
  color: #171717;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  transition-duration: 0.4s;
}

.Button:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.Logo {
  max-width: 100px;
  margin: 1rem;
}

.Form {
  max-width: 1000px;
  display: flex;
  align-items: center;
  background-color: #FFD580;
  padding: 1.5rem;
  border-radius: 0.54rem;
}

.Form > fieldset {
  border: none;
}

.FormLabel {
  color: #171717;
  font-size: 1.5rem;
  font-weight: bold;
}

.FormInput {
  margin: 0.5rem;
  padding: 0.5rem;
  flex-grow: 1;
  border-radius: 0.4rem;
  background-color: whitesmoke;
  font-size: 1.5rem;
  font-style: italic;
}

.Loading {
  margin-left: 1.5rem;
  height: 1.5rem;
  font-size:1.5rem;
  font-style: italic;
}

.ThemeButton {
  float: right;
  margin-right: 1rem;
  background-color: #171717;
  color: whitesmoke;
  font-size: 0.8rem;
}

@media(max-width: 990px) {
  .Form {
    max-width: 700px;
  }
  .FormLabel, .FormInput {
    font-size: 1.2rem;
  }
  .Logo {
    max-width: 75px;
  }
}

@media(max-width: 785px) {
  .Form {
    max-width: 550px;
  }
  .FormLabel, .FormInput {
    font-size: 1rem;
  }
  .Logo {
    max-width: 50px;
  }
}

@media(max-width: 600px) {
  .Form {
    display: block;
  }
}